img {
	height: 460px;
	
}

xbody {
	text-align: center;
}

body {
	text-align: center;
	font-family: helvetica; 
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 13.5px;

	}

h1 {
	color: white;
}