h1 {
	font-family: "Helvetica", Arial, sans-serif;
	color: white;
	font-size: 18px;
	opacity: 0.8;
}

h2 {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 15px;
}

li {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 13px;
	opacity: 0.7;
}

.box {
	width: 400px;
	height: 650px;
	border-color: white;
	margin-left: 70px;
	margin-top: 220px;
}