img {
	height: 17px;
	padding: 20px;
	margin-top: 230px;
	xmargin-left: 20px;
}

body {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: smaller;
	color: white;
	margin-left: 270px;
}

h2 {
	font-weight: normal;
	font-size: 16px;
	color: white;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

