html {
	background-color: black;
}

.list {
	margin-top: 15%;
	margin-left: 15%;
}
h1{
	font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	color: white;
	margin-top: 15%;
	margin-left: 15%;
}

h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 11px;
	color: white;

}

ul {
	font-family: 'Orbitron', sans-serif;
	font-size: 11px;
	width: 20%;
	color: white;
	text-decoration: none;

}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color:white;
}