h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;

}

.boxes {
	
}

p {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	width: 420px;
	text-align: justify;
}

img {
	height: 230px;
	width: auto;
}

.rowone {
	top: 
}

.rowtwo {
	top: 20%;
}

.rowthree {
	top: 40%;
}
