* {
	font-family: 'Orbitron', sans-serif;
}


/*SECTION1-------------------------------------------*/

/*#fullpage{
	height: 8000px;
}*/

.block {
	height: 110%;
	width: auto;
	margin-top: -30%;
	margin-left: 45%;
	position: absolute;
/*	display: none;*/

}

.sec1img {
	position: absolute;
    height: 56%;
    margin-left: 55%;
    margin-top: -6.5%;;

}

.sec1img2 {
	position: absolute;
    height: 47%;
    margin-left: 75%;
    margin-top: -3.8%;

}


/*SECTION2-------------------------------------------*/

.sec2img {
    height: 39%;
    width: auto;
    margin-top: -9.5%;
    margin-left: 10%;
    position: absolute;
}

.sec2text {
	font-size: 11px;
	color: #0052E2;
	line-height: 1.2;
	width: 720px;
	position: absolute;
	margin-left: 40%;
	margin-top: -5.5%;
}


/*SECTION3-------------------------------------------*/

.sec3img {
    height: 37%;
    width: auto;
    margin-top: 10%;
    margin-left: 31%;
    position: absolute;
    z-index: 3;
}

.sec3img2 {
    height: 28%;
    width: auto;
    margin-top: 13%;
    margin-left: 46%;
    position: absolute;
}

.sec3text {
	font-size: 11px;
	color: white;
	line-height: 1.2;
	width: 720px;
	position: absolute;
    margin-left: 25%;
    margin-top: 33%;
}

.footer {
	font-size: 14px;
	color: white;
	position: absolute;
	margin-top: 52%;
	margin-left: 84%;
	overflow: hidden;
    height: 1em;
}

.footer a:visited {
	text-decoration: none;
	color: black;
}

.footer a:link {
	text-decoration: none;
	color: black;
}

/*SOURCES-------------------------------------------*/

.triangle-img {
	height: 10px;
	margin-left: 1%;
	margin-top: 52%;
}

#sources{
	position: relative;
	width: 100%;
	height: auto;
	display: none;
	color: white;
	background-color: ;
}

.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/
    transition: .3s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .3s;
}

.sourcetext {
	text-decoration: none;
	padding-left: 40px;
	padding-top: -10px;
	color: white;
	font-size: 9px;
}
