body {
	font-family: helvetica;
	font-size: 14px;


}


h1 {
	font-weight: normal;
	color: white;
	font-size: 14px;
}

img {
	width: 350px;
	position: absolute;
	margin-left: 60%;
	margin-top: 4%; 

}


.body {
	width: 500px;
	height: auto;
	margin-left: 15%;
	margin-top: 15%;
}