* {
	font-family: 'Orbitron', sans-serif;
}


.icon {
    position: absolute;
    width: 25%;
    margin-top: -1.7%;
    margin-left: 55%;
}


/*SECTION1-------------------------------------------*/

/*#fullpage{
	height: 8000px;
}*/

.block {
	height: 35%;
	width: auto;
	margin-top: -10%;
	margin-left: 21.5%;
	position: absolute;
/*	display: none;*/

}

.sec1img {
	position: absolute;
	height: 25%;
	margin-left: 24%;
	margin-top: -7.2%;

}

.sec1img2 {
	position: absolute;
	height: 25%;
	margin-left: 65.2%;
	margin-top: -7.2%;

}

/*SECTION2-------------------------------------------*/

.sec2img {
	height: 23%;
	width: auto;
	margin-top: -6%;
	margin-left: 14%;
	position: absolute;
}

.sec2text {
	font-size: 11px;
	color: white;
	line-height: 1.2;
	width: 720px;
	position: absolute;
	margin-left: 40%;
	margin-top: -2%;
}


/*SECTION3-------------------------------------------*/

.sec3img {
	height: 38%;
    width: auto;
    margin-top: 15.5%;
    margin-left: 16.5%;
	position: absolute;
}

.sec3text {
	font-size: 11px;
	color: white;
	line-height: 1.2;
	width: 720px;
	position: absolute;
	margin-left: 40%;
	margin-top: 23%;
}

.footer {
	font-size: 14px;
	color: white;
	position: absolute;
	margin-top: 52%;
	margin-left: 88%;
	overflow: hidden;
    height: 1em;
}

.footer a:visited {
	text-decoration: none;
	color: white;
}

.footer a:link {
	text-decoration: none;
	color: white;
}

/*SOURCES-------------------------------------------*/

.triangle-img {
	height: 10px;
	margin-left: 1%;
	margin-top: 52%;
}

#sources{
	position: relative;
	width: 100%;
	height: auto;
	display: none;
	color: white;
	background-color: ;
}

.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/
    transition: .3s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .3s;
}

.sourcetext {
	text-decoration: none;
	padding-left: 40px;
	padding-top: -10px;
	color: white;
	font-size: 9.5px;
}
