h1{
	font-family: helvetica;
	font-size: 13px;
	font-weight: normal; 
	color: white;
	margin-left: 750px;
	margin-top: 500px;
	position: absolute;
}


a {
	font-family: helvetica;
	font-size: 13px;
	color: white;
	margin-left: 870px; 
	margin-top: 426px; 
	position: absolute;
}


