h1 {
	color: #40FF3C;
	margin-top: 755px;
	margin-left: 1335px;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 18px;
	position: absolute;
}

a:link, a:visited{
    text-decoration: none;
    color: #40FF3C;
}

a:hover {
	color: black; 
}

p {
	position: absolute;
	left: 0;
	top: 294px;
}

p:hover {

}

.video {

}

#ohboy {
	margin-left: 55px;
	margin-top: 55px;
	width: 60px;
	height: auto;
}

#dilemma {
	margin-left: 55px;
	margin-top: 10px;
}

#alwaysontime {


}

#callonme {

}

#down4u {

}

#mesmerize {


}

#imreal {

}

#workit{

}





