h1 {
	color: #40FF3C;
	margin-top: 51%;
	margin-left: 1335px;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 18px;
	position: fixed;
	float: top;
	z-index: 3;
}

.greenborder img{
	top: 97px;
	left: 202.5px;
	height: 600px;
	width: 1020px;
	position: fixed;

}

a:link, a:visited {
    text-decoration: none;
    color: #40FF3C;
}

.sidebar {
     position: fixed;
     left: 0;
     top: 320px;
     display: block;
     height: 166px;
     width: 10px;
     background-color: #40FF3C;
}

nav {
     text-align: justify border-left;
     color: #40FF3C;
     font-family: 'Pragati Narrow', sans-serif;
     font-size: 16px;
     display: none;     
     z-index: 4;
     margin-left: 19%;
     margin-top: 12%;
}

.sidebar:hover nav {
     display: block;

}

.sidebar:hover {
     background-image: url('../media/smallmenubox.png');
     width: 250px;
     background-color: none;
     z-index: 5;
}

}



.video {

}

#ohboy {
	margin-left: 30px;
	top: 20px;
	width: 60px;
	height: ;
	position: relative;
}

#dilemma {
	left: 900px;
	top: 150px;
	position: relative;
}

#alwaysontime {
	margin-left: 60%;
	margin-top: 50px;
	position: relative;

}

#callonme {
	margin-left: 4%;
	margin-top: 5%;
	position: relative;

}

#down4u {
	left: 73%;
	top: 14%;
	position: relative;
}

#mesmerize {
	left: 60%;
	top: 14%;
	position: relative;

}

#imreal {
	left: 3%;
	top: 14%;
	position: relative;
}

#workit{
	left: 15%;
	top: 14%;
	position: relative;
}

#aintitfunny {
	left: 8%;
	top: 14%;
	position: relative;
}

#candyshop {
	left: 65%;
	top: 14%;
	position: relative;
}

#ei {
	left: 15%;
	top: 14%;
	position: relative;
}

#allihave {
	left: 15%;
	top: 14%;
	position: relative;
}

#dropitlikeitshot {
	margin-left: 300px;
	top: 14%;
	position: relative;
}

#noscrubs {
	margin-left: 30px;
	top: 14%;
	position: relative;
}

#thongsong {
	margin-left: 202.5px;
	top: 14%;
	position: relative;
}

#letmeblowyourmind {
	margin-left: 800px;
	top: 14%;
	position: relative;
}

#tipsy {
	left: 60%;
	top: 14%;
	position: relative;
}

#goodies {
	left: 4%;
	top: 14%;
	position: relative;
}

#sofreshsoclean {
	left: 73%;
	top: 14%;
	position: relative;
}

#thenextepisode {
	left: 60%;
	top: 14%;
	position: relative;
}

#indaclub {
	left: 3%;
	top: 14%;
	position: relative;
}

#foolish {
	margin-left: 500px;
	top: 14%;
	position: relative;
}

#rockwitu {
	margin-left: 202px;
	top: 14%;
	position: relative;
}

#whatsluv {
	margin-left: 700px;
	top: 14%;
	position: relative;
}

#justalilbit {
	left: 60%;
	top: 14%;
	position: relative;
}

#heyma {
	left: 4%;
	top: 14%;
	position: relative;
}

#confessions {
	left: 73%;
	top: 14%;
	position: relative;
}

#discoinferno {
	left: 60%;
	top: 14%;
	position: relative;
}







