h1 {
	color: #40FF3C;
	margin-top: 740px;
	margin-left: 1335px;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 18px;
	position: absolute;
}

a:link, a:visited{
    text-decoration: none;
    color: #40FF3C;
}

a:hover {
	color: black; 
}

.whiteborder img {
	top: 97px;
	left: 202.5px;
	height: 600px;
	width: 1020px;
	position: absolute;

}

.sidebar {
	display: block;
	left: 0;
	margin-top: 294px;
	position: absolute;
}


nav {
	text-align: justify border-left;
	color: #40FF3C;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 15px;
	display: none;	
	position: absolute;
	top: 32px;
	left: 48px;
}

.sidebar:hover nav {
	display: block;
}

.sidebar:hover {
	background-image: url('assets/media/sidebar1.png');
}

