h1 {
	color: #40FF3C;
	margin-top: 510px;
	margin-left: 1335px;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 18px;
	position: fixed;

}

a:hover {
	color: ;
}

.whiteborder img {
	top: 97px;
	left: 202.5px;
	height: 600px;
	width: 1020px;
	position: fixed;
	z-index: -1;

}

a:link, a:visited {
    text-decoration: none;
    color: #40FF3C;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 320px;
	display: block;
	height: 166px;
	width: 10px;
	background-color: #40FF3C;
	z-index: 10;
}

nav {
	text-align: justify border-left;
	color: #40FF3C;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 16px;
	display: none;	
	margin-left: 19%;
	margin-top: 12%;
}

.sidebar:hover nav {
	display: block;
	z-index: 10;
	
}

.sidebar:hover {
	background-image: url('../media/smallmenubox.png');
	width: 250px;
	background-color: none;
	z-index: 10;
}

ul {
	list-style: none;
	white-space: nowrap;
	width: 100000px;
}

li {
	float: left;
	display: inline;

}

#images img {
	padding-right: 400px;
	height: 340px;
	z-index: 8;
	position: relative;

}


#images {
	margin-top: 16.2%;
	z-index: 8;
}

video {
	width: 650px; 
	top: 27%;
	left: 27%;
	position: fixed;
	float: top;
}















