html {
	height: 100%;
}

body {
/*	display: flex;
	justify-content: center;
	align-content: center;
	height: 100%;*/
}

.greenborder img{
	top: 70px;
	left: 120px;
	height: 640px;
	width: 1180px;
	position: absolute;
}

.wrapper {
	margin-top: 300px;
}



.mainimage {
	display: block;
	margin: auto;
	position: relative;
	width: 280px;
	height: 185px;
	background-image: url('../media/mainimage.jpg');
	background-size: cover;
}

.mainimage:hover {
	background-image: url('../media/sidebar1.png');
}


nav {
	text-align: justify border-left;
	color: #40FF3C;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 15px;
	display: none;	
	position: absolute;
	top: 32px;
	left: 48px;
}

.mainimage:hover nav {
	display: block;
}

.mainimage:hover h2 {
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	border-left: 1px solid #40FF3C;
	width: 125px;
	display: block;

}

.whiteline img {
	position: absolute;
	margin-top: 0;
	margin-left: 1300px;
	float: top;
}

header {
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	border-left: 1px solid white;
	width: 125px;
}

h1 {
	color: #40FF3C;
	font-family: 'Pragati Narrow', sans-serif;
	position: absolute;
	top: 713px;
	left: 28px;
	
}

h2 {
	color: #40FF3C;
	font-family: 'Pragati Narrow', sans-serif;
	position: absolute;
	top: 713px;
	left: 28px;
	display: none;
}




a:link, a:visited {
    text-decoration: none;
    color: #40FF3C;
/*  position: absolute;
*/  font-family: 'Pragati Narrow', sans-serif;
	font-size: 18px;
}

.wrapper:hover + header {
	border-left-color: red;
}

